        {{if footer}}
        <footer>
            <section class="footer-wrap">
                <h3>Company name</h3>
                <p>Address：XXXXXXXX</p>
                <p>Domain：something.com</p>
                <p>Contact：+01-123-4567890</p>
                <p>Email：something@something.com</p>
                <p class="beian">Copyright © 20XX-20XX, company name.</p>
            </section>
        </footer>
        {{/if}}
        <script src="js/jquery.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/{{name}}.js"></script>
    </body>
</html>